<div id="home">
	<div class="header" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
		<h2>Encontre lugares para sair</h2>
		<h4>Explore os lugares e atividades mais bem conceituados</h4>
	</div>
</div>
